In [2]:
#코드 실행 중에 진행 상황을 시각적으로 표시해주는 라이브러리 - 프로세스바
from tqdm import tqdm
import time

# 셀레니움
from selenium.webdriver.common.by import By
from selenium import webdriver 

import pandas as pd

import re

import numpy as np

In [6]:
#창 열기
driver = webdriver.Chrome() 
url = 'https://www.yes24.com/Product/Category/MonthWeekBestSeller?categoryNumber=001&pageNumber=1&pageSize=100&type=month'
driver.get(url)

#배너 끄기
driver.find_element(By.XPATH, '//*[@id="divYes24SCMEvent"]/div[2]/div[2]/a/em').click()

rree = pd.DataFrame()

#crawling
def find_text_list(url):
    text_list = driver.find_elements(By.XPATH, url)
    return [i.text for i in text_list]

#길이 맞추기
def align_data_and_index(data, index):
    if len(data) > len(index):
        # 데이터의 길이가 인덱스의 길이보다 길면 인덱스를 늘립니다
        while len(index) < len(data):
            index.append(None)  # 인덱스를 늘릴 때 None 값을 추가합니다
    elif len(data) < len(index):
        # 데이터의 길이가 인덱스의 길이보다 짧으면 데이터를 확장합니다
        while len(data) < len(index):
            data.append(None)  # 데이터를 확장할 때 None 값을 추가합니다
    return data, index

#페이지 바꾸기
def change(url):
    driver.get(url)

키워드
//*[@id="yesBestList"]/li[1]/div/div[2]/div[7]
//*[@id="yesBestList"]/li[2]/div/div[2]/div[8]
//*[@id="yesBestList"]/li[99]/div/div[2]/div[7]
//*[@id="yesBestList"]/li[100]/div/div[2]/div[7]
공통
//*[@id="yesBestList"]/li/div/div[2]/div

In [11]:
title = find_text_list('//*[@id="yesBestList"]/li/div/div[2]/div[2]/a[1]')
kw = find_text_list('//*[@id="yesBestList"]/li/div/div[2]/div[8]')

title, _ = align_data_and_index(title, kw)
kw, _ = align_data_and_index(kw, title)

gh = pd.DataFrame()
gh['Title'] = title
gh['kw'] = kw

rree = pd.concat([rree, gh], ignore_index = True)

In [14]:
rree.iloc[:100, :]

,Title,kw
0,마흔에 읽는 쇼펜하우어,마흔에 읽는 서양 고전
1,세이노의 가르침,[도서] 마흔에 읽는 쇼펜하우어 마음의 위기를 다스리는 철학 수업 마흔에 읽는 쇼펜...
2,나는 메트로폴리탄 미술관의 경비원입니다,강용수 저 유노북스 2023년 09월
3,ETS 토익 정기시험 기출문제집 1000 Vol. 4 RC,"10%\n15,300원\n포인트적립850원"
4,이처럼 사소한 것들,"판매지수 861,006 회원리뷰(355건) 리뷰 총점8.8 정보 더 보기/감추기"
...,...,...
95,조용헌의 내공,"설민석, 스토리박스 글/정현희 그림/강석화 감수 단꿈아이 2024년 02월"
96,트렌드 코리아 2024,"10%\n11,700원\n포인트적립650원"
97,벌써 마흔이 된 딸에게,"판매지수 73,260 회원리뷰(91건) 리뷰 총점10.0 정보 더 보기/감추기"
98,오래된 미래,"18시까지 주문하면 내일 아침 7시 전(3/8, 금) 도착예정"
99,깡통 소년,

In [4]:
zxc2.info()

NameError: name 'zxc2' is not defined

3월 1주
https://www.yes24.com/Product/Category/MonthWeekBestSeller?categoryNumber=001&pageNumber=1&pageSize=100&type=month
2402
https://www.yes24.com/Product/Category/MonthWeekBestSeller?categoryNumber=001&pageNumber=1&pageSize=100&type=month&saleYear=2024&saleMonth=2
2401
https://www.yes24.com/Product/Category/MonthWeekBestSeller?categoryNumber=001&pageNumber=1&pageSize=100&type=month&saleYear=2024&saleMonth=1
2301
https://www.yes24.com/Product/Category/MonthWeekBestSeller?categoryNumber=001&pageNumber=1&pageSize=100&type=month&saleYear=2023&saleMonth=1
2312
https://www.yes24.com/Product/Category/MonthWeekBestSeller?categoryNumber=001&pageNumber=1&pageSize=100&type=month&saleYear=2023&saleMonth=12

공통
https://www.yes24.com/Product/Category/MonthWeekBestSeller?categoryNumber=001&pageNumber=1&pageSize=100&type=month&saleYear=2023&saleMonth={j}
https://www.yes24.com/Product/Category/MonthWeekBestSeller?categoryNumber=001&pageNumber=1&pageSize=100&type=month&saleYear=2024&saleMonth={i}

In [12]:
#2024
for i in tqdm(range(1, 4)):
    #2024 페이지 열기기
    change(f'https://www.yes24.com/Product/Category/MonthWeekBestSeller?categoryNumber=001&pageNumber=1&pageSize=100&type=month&saleYear=2024&saleMonth={i}')
    if i == 3:   #'월'에 3이 들어가면 정지
        break
    else:   #월이 1, 2이면 crawling
        for z in range(3, 7):   #시간랜덤 지정정
            time.sleep(5)
            title = find_text_list('//*[@id="yesBestList"]/li/div/div[2]/div[2]/a[1]')
            author = find_text_list('//*[@id="yesBestList"]/li/div/div[2]/div[3]/span[1]')
            publisher = find_text_list('//*[@id="yesBestList"]/li/div/div[2]/div[3]/span[2]/a')
            review_score = find_text_list('//*[@id="yesBestList"]/li/div/div[2]/div[5]/span[3]/em')

            #길이 맞추기
            title, _ = align_data_and_index(title, author)
            author, _ = align_data_and_index(author, title)
            publisher, _ = align_data_and_index(publisher, title)
            review_score, _ = align_data_and_index(review_score, title)
            
            ult = pd.DataFrame()

            ult['Title'] = title
            ult['Author'] = author
            ult['Publisher'] = publisher
            ult['Review_score'] = review_score

            #ignore_index = True으로 기존 인덱스 무시하고 새롭게 설정
            qwe = pd.concat([qwe, ult], ignore_index = True)

            time.sleep(z)
                    
            #스크롤 내리기
            #driver.execute_script("window.scrollTo(0, document.body.scrollHeight);")       
            # time.sleep(3)
            #페이지 넘기기
            #2023
            #change(f'https://www.yes24.com/Product/Category/MonthWeekBestSeller?categoryNumber=001&pageNumber=1&pageSize=100&type=month&saleYear=2023&saleMonth={i}')
            #2024
            #change(f'https://www.yes24.com/Product/Category/MonthWeekBestSeller?categoryNumber=001&pageNumber=1&pageSize=100&type=month&saleYear=2024&saleMonth={i}')

  0%|          | 0/3 [00:00<?, ?it/s]

 67%|██████▋   | 2/3 [02:58<01:29, 89.27s/it]

In [20]:
qwe202401 = qwe.iloc[100:200, :]
qwe202401.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 100 to 199
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Title         100 non-null    object
 1   Author        100 non-null    object
 2   Publisher     100 non-null    object
 3   Review_score  100 non-null    object
dtypes: object(4)
memory usage: 3.3+ KB

In [27]:
qwe202402 = qwe.iloc[500:600, :]
qwe202402.tail()

,Title,Author,Publisher,Review_score
595,흔한남매 과학 탐험대 0 과학의 기초,"흔한남매 원저/김언정, 이현진 글/김덕영 그림/최진수 감수 외 3명 정보 더 보기/감추기",주니어김영사,9.8
596,내 몸 혁명,박용우 저,루미너스,9.8
597,내가 원하는 곳에 나를 데려가라,네빌 고다드 저/김은영 역,터닝페이지,9.4
598,뿐이 토핑 이유식,정주희 저/이수진 감수,서사원,9.4
599,아주 작은 습관의 힘,제임스 클리어 저/이한이 역,비즈니스북스,None

In [74]:
yes2024 = pd.concat([qwe202401, qwe202402], axis=0)
yes2024.info()

<class 'pandas.core.frame.DataFrame'>
Index: 200 entries, 100 to 599
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Title         200 non-null    object
 1   Author        200 non-null    object
 2   Publisher     200 non-null    object
 3   Review_score  199 non-null    object
dtypes: object(4)
memory usage: 7.8+ KB

zxc : 202303 - 202305
zxc2 : 202306 - 202309
zxc3 = 202310 - 202312

In [40]:
#2023
for i in tqdm(range(10, 13)):
    #2024 페이지 열기기
    change(f'https://www.yes24.com/Product/Category/MonthWeekBestSeller?categoryNumber=001&pageNumber=1&pageSize=100&type=month&saleYear=2023&saleMonth={i}')
    if i == 13:   #'월'에 3이 들어가면 정지
        break
    else:   #12월 까지이면 crawling
        for z in range(1, 5):   #시간랜덤 지정정
            time.sleep(z)
            title = find_text_list('//*[@id="yesBestList"]/li/div/div[2]/div[2]/a[1]')
            author = find_text_list('//*[@id="yesBestList"]/li/div/div[2]/div[3]/span[1]')
            publisher = find_text_list('//*[@id="yesBestList"]/li/div/div[2]/div[3]/span[2]/a')
            review_score = find_text_list('//*[@id="yesBestList"]/li/div/div[2]/div[5]/span[3]/em')

            #길이 맞추기
            title, _ = align_data_and_index(title, author)
            author, _ = align_data_and_index(author, title)
            publisher, _ = align_data_and_index(publisher, title)
            review_score, _ = align_data_and_index(review_score, title)
            
            sdf3 = pd.DataFrame()

            sdf3['Title'] = title
            sdf3['Author'] = author
            sdf3['Publisher'] = publisher
            sdf3['Review_score'] = review_score

            #ignore_index = True으로 기존 인덱스 무시하고 새롭게 설정
            zxc3 = pd.concat([zxc3, sdf3], ignore_index = True)

100%|██████████| 3/3 [02:46<00:00, 55.51s/it]

In [32]:
zxc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1200 entries, 0 to 1199
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Title         1200 non-null   object
 1   Author        1200 non-null   object
 2   Publisher     1200 non-null   object
 3   Review_score  1200 non-null   object
dtypes: object(4)
memory usage: 37.6+ KB

In [43]:
zxc202303 = zxc.iloc[200:300, :]
zxc202303.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 200 to 299
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Title         100 non-null    object
 1   Author        100 non-null    object
 2   Publisher     100 non-null    object
 3   Review_score  100 non-null    object
dtypes: object(4)
memory usage: 3.3+ KB

In [46]:
zxc202304 = zxc.iloc[500:600, :]
zxc202304.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 500 to 599
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Title         100 non-null    object
 1   Author        100 non-null    object
 2   Publisher     100 non-null    object
 3   Review_score  100 non-null    object
dtypes: object(4)
memory usage: 3.3+ KB

In [49]:
zxc202305 = zxc.iloc[1000:1100, :]
zxc202305.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 1000 to 1099
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Title         100 non-null    object
 1   Author        100 non-null    object
 2   Publisher     100 non-null    object
 3   Review_score  100 non-null    object
dtypes: object(4)
memory usage: 3.3+ KB

In [50]:
zxc345 = pd.concat([zxc202303, zxc202304, zxc202305], axis=0)
zxc345.info()

<class 'pandas.core.frame.DataFrame'>
Index: 300 entries, 200 to 1099
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Title         300 non-null    object
 1   Author        300 non-null    object
 2   Publisher     300 non-null    object
 3   Review_score  300 non-null    object
dtypes: object(4)
memory usage: 11.7+ KB

In [38]:
zxc2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1700 entries, 0 to 1699
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Title         1700 non-null   object
 1   Author        1700 non-null   object
 2   Publisher     1700 non-null   object
 3   Review_score  1700 non-null   object
dtypes: object(4)
memory usage: 53.3+ KB

In [52]:
zxc202306 = zxc2.iloc[200:300, :]
zxc202306.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 200 to 299
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Title         100 non-null    object
 1   Author        100 non-null    object
 2   Publisher     100 non-null    object
 3   Review_score  100 non-null    object
dtypes: object(4)
memory usage: 3.3+ KB

In [54]:
zxc202307 = zxc2.iloc[500:600, :]
zxc202307.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 500 to 599
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Title         100 non-null    object
 1   Author        100 non-null    object
 2   Publisher     100 non-null    object
 3   Review_score  100 non-null    object
dtypes: object(4)
memory usage: 3.3+ KB

In [57]:
zxc202308 = zxc2.iloc[900:1000, :]
zxc202308.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 900 to 999
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Title         100 non-null    object
 1   Author        100 non-null    object
 2   Publisher     100 non-null    object
 3   Review_score  100 non-null    object
dtypes: object(4)
memory usage: 3.3+ KB

In [59]:
zxc202309 = zxc2.iloc[1500:1600, :]
zxc202309.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 1500 to 1599
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Title         100 non-null    object
 1   Author        100 non-null    object
 2   Publisher     100 non-null    object
 3   Review_score  100 non-null    object
dtypes: object(4)
memory usage: 3.3+ KB

In [62]:
zxc6789 = pd.concat([zxc202306, zxc202307, zxc202308, zxc202309], axis=0)
zxc6789.info()

<class 'pandas.core.frame.DataFrame'>
Index: 400 entries, 200 to 1599
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Title         400 non-null    object
 1   Author        400 non-null    object
 2   Publisher     400 non-null    object
 3   Review_score  400 non-null    object
dtypes: object(4)
memory usage: 15.6+ KB

In [41]:
zxc3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1200 entries, 0 to 1199
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Title         1200 non-null   object
 1   Author        1200 non-null   object
 2   Publisher     1200 non-null   object
 3   Review_score  1200 non-null   object
dtypes: object(4)
memory usage: 37.6+ KB

In [64]:
zxc202310 = zxc3.iloc[200:300, :]
zxc202310.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 200 to 299
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Title         100 non-null    object
 1   Author        100 non-null    object
 2   Publisher     100 non-null    object
 3   Review_score  100 non-null    object
dtypes: object(4)
memory usage: 3.3+ KB

In [66]:
zxc202311 = zxc3.iloc[500:600, :]
zxc202311.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 500 to 599
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Title         100 non-null    object
 1   Author        100 non-null    object
 2   Publisher     100 non-null    object
 3   Review_score  100 non-null    object
dtypes: object(4)
memory usage: 3.3+ KB

In [68]:
zxc202312 = zxc3.iloc[1000:1100, :]
zxc202312.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 1000 to 1099
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Title         100 non-null    object
 1   Author        100 non-null    object
 2   Publisher     100 non-null    object
 3   Review_score  100 non-null    object
dtypes: object(4)
memory usage: 3.3+ KB

In [69]:
zxc1012 = pd.concat([zxc202310, zxc202311, zxc202312], axis=0)
zxc1012.info()

<class 'pandas.core.frame.DataFrame'>
Index: 300 entries, 200 to 1099
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Title         300 non-null    object
 1   Author        300 non-null    object
 2   Publisher     300 non-null    object
 3   Review_score  300 non-null    object
dtypes: object(4)
memory usage: 11.7+ KB

In [75]:
yes2023= pd.concat([zxc345, zxc6789, zxc1012], axis=0)
yes2023.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1000 entries, 200 to 1099
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Title         1000 non-null   object
 1   Author        1000 non-null   object
 2   Publisher     1000 non-null   object
 3   Review_score  1000 non-null   object
dtypes: object(4)
memory usage: 39.1+ KB

In [79]:
#202303 ~ 202402까지 topq100
yes_total = pd.concat([yes2023, yes2024], axis=0)
yes_total.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1200 entries, 200 to 599
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Title         1200 non-null   object
 1   Author        1200 non-null   object
 2   Publisher     1200 non-null   object
 3   Review_score  1199 non-null   object
dtypes: object(4)
memory usage: 46.9+ KB

In [12]:
yes24.iloc[[300, 301, 398,399], :]

            Title        Author Publisher  Review_score
300      세이노의 가르침  세이노(SayNo) 저       데이원           9.0
301  문과 남자의 과학 공부         유시민 저       돌베개           9.3
398     당신이 플라시보다      조 디스펜자 저        샨티           9.5
399         5번 레인  은소홀 저/노인경 그림      문학동네           9.7

In [100]:
#파일 저장, index = False를 통해 인덱스 없이 저장
yes_total.to_csv('yes.csv', index = False)

In [13]:
import pandas as pd

yes24 = pd.read_csv(r'C:\Users\utw09\Desktop\정노을\본캠 프로젝트\fourth\yes.csv')

In [14]:
yes24

,Title,Author,Publisher,Review_score
0,세이노의 가르침,세이노(SayNo) 저,데이원,9.0
1,김미경의 마흔 수업,김미경 저,어웨이크북스,9.6
2,"살 때, 팔 때, 벌 때",강영현 저,21세기북스,8.6
3,스즈메의 문단속,신카이 마코토 저/민경욱 역,대원씨아이(단행)(대원키즈),9.5
4,아버지의 해방일지,정지아 저,창비,9.6
...,...,...,...,...
1195,흔한남매 과학 탐험대 0 과학의 기초,"흔한남매 원저/김언정, 이현진 글/김덕영 그림/최진수 감수 외 3명 정보 더 보기/감추기",주니어김영사,9.8
1196,내 몸 혁명,박용우 저,루미너스,9.8
1197,내가 원하는 곳에 나를 데려가라,네빌 고다드 저/김은영 역,터닝페이지,9.4
1198,뿐이 토핑 이유식,정주희 저/이수진 감수,서사원,9.4
1199,아주 작은 습관의 힘,제임스 클리어 저/이한이 역,비즈니스북스,NaN

In [15]:
yes_ca = pd.read_csv(r'C:\Users\utw09\Desktop\정노을\본캠 프로젝트\fourth\yes_category.csv')

In [16]:
yes_ca

                     Title      Category
0                 세이노의 가르침     국내도서-자기계발
1               김미경의 마흔 수업     국내도서-자기계발
2            살 때, 팔 때, 벌 때    국내도서-경제 경영
3                 스즈메의 문단속  국내도서-소설/시/희곡
4                아버지의 해방일지  국내도서-소설/시/희곡
...                    ...           ...
1195  흔한남매 과학 탐험대 0 과학의 기초      국내도서-어린이
1196                내 몸 혁명    국내도서-건강 취미
1197     내가 원하는 곳에 나를 데려가라     국내도서-자기계발
1198             뿐이 토핑 이유식    국내도서-가정 살림
1199           아주 작은 습관의 힘     국내도서-자기계발

[1200 rows x 2 columns]

In [ ]:
#큰 카테고리
category = list(yes_ca['Category'])
ca = [c.split('-', 1)[0] for c in category]
ca

In [ ]:
#작은 카테고리
sub = [c.split('-', 1)[1] for c in category]
sub

In [28]:
#yes_ca에 칼럼 분리한것 넣기
yes_ca['Catehory'] = ca
yes_ca['Sub_category'] = sub

In [29]:
yes_ca

                     Title      Category Catehory Sub_category
0                 세이노의 가르침     국내도서-자기계발     국내도서         자기계발
1               김미경의 마흔 수업     국내도서-자기계발     국내도서         자기계발
2            살 때, 팔 때, 벌 때    국내도서-경제 경영     국내도서        경제 경영
3                 스즈메의 문단속  국내도서-소설/시/희곡     국내도서      소설/시/희곡
4                아버지의 해방일지  국내도서-소설/시/희곡     국내도서      소설/시/희곡
...                    ...           ...      ...          ...
1195  흔한남매 과학 탐험대 0 과학의 기초      국내도서-어린이     국내도서          어린이
1196                내 몸 혁명    국내도서-건강 취미     국내도서        건강 취미
1197     내가 원하는 곳에 나를 데려가라     국내도서-자기계발     국내도서         자기계발
1198             뿐이 토핑 이유식    국내도서-가정 살림     국내도서        가정 살림
1199           아주 작은 습관의 힘     국내도서-자기계발     국내도서         자기계발

[1200 rows x 4 columns]

In [ ]:
yes_total.to_csv('yes.csv', index = False)

In [48]:
yes_ca = yes_ca.drop(column=['Title'])

TypeError: DataFrame.drop() got an unexpected keyword argument 'column'

In [42]:
yes_ca

     Catehory Sub_category
0        국내도서         자기계발
1        국내도서         자기계발
2        국내도서        경제 경영
3        국내도서      소설/시/희곡
4        국내도서      소설/시/희곡
...       ...          ...
1195     국내도서          어린이
1196     국내도서        건강 취미
1197     국내도서         자기계발
1198     국내도서        가정 살림
1199     국내도서         자기계발

[1200 rows x 2 columns]

In [31]:
yes = pd.read_csv(r'C:\Users\utw09\Desktop\정노을\본캠 프로젝트\fourth\yes.csv')

In [45]:
#yes랑 yes_ca 합치기
yes_total = pd.concat([yes, yes_ca], axis=1)
yes_total

,Title,Author,Publisher,Review_score,Catehory,Sub_category
0,세이노의 가르침,세이노(SayNo) 저,데이원,9.0,국내도서,자기계발
1,김미경의 마흔 수업,김미경 저,어웨이크북스,9.6,국내도서,자기계발
2,"살 때, 팔 때, 벌 때",강영현 저,21세기북스,8.6,국내도서,경제 경영
3,스즈메의 문단속,신카이 마코토 저/민경욱 역,대원씨아이(단행)(대원키즈),9.5,국내도서,소설/시/희곡
4,아버지의 해방일지,정지아 저,창비,9.6,국내도서,소설/시/희곡
...,...,...,...,...,...,...
1195,흔한남매 과학 탐험대 0 과학의 기초,"흔한남매 원저/김언정, 이현진 글/김덕영 그림/최진수 감수 외 3명 정보 더 보기/감추기",주니어김영사,9.8,국내도서,어린이
1196,내 몸 혁명,박용우 저,루미너스,9.8,국내도서,건강 취미
1197,내가 원하는 곳에 나를 데려가라,네빌 고다드 저/김은영 역,터닝페이지,9.4,국내도서,자기계발
1198,뿐이 토핑 이유식,정주희 저/이수진 감수,서사원,9.4,국내도서,가정 살림
1199,아주 작은 습관의 힘,제임스 클리어 저/이한이 역,비즈니스북스,NaN,국내도서,자기계발

In [49]:
#칼럼 이름 바꾸기
yes_total = yes_total.rename(columns={'Catehory': 'Category'})
yes_total

,Title,Author,Publisher,Review_score,Category,Sub_category
0,세이노의 가르침,세이노(SayNo) 저,데이원,9.0,국내도서,자기계발
1,김미경의 마흔 수업,김미경 저,어웨이크북스,9.6,국내도서,자기계발
2,"살 때, 팔 때, 벌 때",강영현 저,21세기북스,8.6,국내도서,경제 경영
3,스즈메의 문단속,신카이 마코토 저/민경욱 역,대원씨아이(단행)(대원키즈),9.5,국내도서,소설/시/희곡
4,아버지의 해방일지,정지아 저,창비,9.6,국내도서,소설/시/희곡
...,...,...,...,...,...,...
1195,흔한남매 과학 탐험대 0 과학의 기초,"흔한남매 원저/김언정, 이현진 글/김덕영 그림/최진수 감수 외 3명 정보 더 보기/감추기",주니어김영사,9.8,국내도서,어린이
1196,내 몸 혁명,박용우 저,루미너스,9.8,국내도서,건강 취미
1197,내가 원하는 곳에 나를 데려가라,네빌 고다드 저/김은영 역,터닝페이지,9.4,국내도서,자기계발
1198,뿐이 토핑 이유식,정주희 저/이수진 감수,서사원,9.4,국내도서,가정 살림
1199,아주 작은 습관의 힘,제임스 클리어 저/이한이 역,비즈니스북스,NaN,국내도서,자기계발

In [50]:
#최종 저장
yes_total.to_csv('yes_total.csv', index = False)

title = find_text_list('//*[@id="yesBestList"]/li/div/div[2]/div[2]/a[1]')
author = find_text_list('//*[@id="yesBestList"]/li/div/div[2]/div[3]/span[1]')
publisher = find_text_list('//*[@id="yesBestList"]/li/div/div[2]/div[3]/span[2]/a')
review_score = find_text_list('//*[@id="yesBestList"]/li/div/div[2]/div[5]/span[3]/em')

#길이 맞추기
title, _ = align_data_and_index(title, author)
author, _ = align_data_and_index(author, title)
publisher, _ = align_data_and_index(publisher, title)
review_score, _ = align_data_and_index(review_score, title)

res = pd.DataFrame()

res['Title'] = title
res['Author'] = author
res['Publisher'] = publisher
res['Review_score'] = review_score

#ignore_index = True으로 기존 인덱스 무시하고 새롭게 설정
abc = pd.concat([abc, res], ignore_index = True)

time.sleep(z)
        
#스크롤 내리기
driver.execute_script("window.scrollTo(0, document.body.scrollHeight);")

제목
//*[@id="yesBestList"]/li[1]/div/div[2]/div[2]/a[1]
//*[@id="yesBestList"]/li[2]/div/div[2]/div[2]/a[1]
//*[@id="yesBestList"]/li[23]/div/div[2]/div[2]/a[1]
//*[@id="yesBestList"]/li[24]/div/div[2]/div[2]/a[1]
//*[@id="yesBestList"]/li[100]/div/div[2]/div[2]/a[1]

제목 공통
//*[@id="yesBestList"]/li/div/div[2]/div[2]/a[1]

저자
//*[@id="yesBestList"]/li[1]/div/div[2]/div[3]/span[1]/a
//*[@id="yesBestList"]/li[2]/div/div[2]/div[3]/span[1]/a
//*[@id="yesBestList"]/li[23]/div/div[2]/div[3]/span[1]/a[1]
//*[@id="yesBestList"]/li[24]/div/div[2]/div[3]/span[1]/a
//*[@id="yesBestList"]/li[98]/div/div[2]/div[3]/span[1]/a[1]
----
//*[@id="yesBestList"]/li[30]/div/div[2]/div[3]/span[1]
//*[@id="yesBestList"]/li[29]/div/div[2]/div[3]/span[1]


저자 공통
//*[@id="yesBestList"]/li/div/div[2]/div[3]/span[1]/a

출판사
//*[@id="yesBestList"]/li[1]/div/div[2]/div[3]/span[2]/a
//*[@id="yesBestList"]/li[2]/div/div[2]/div[3]/span[2]/a
//*[@id="yesBestList"]/li[23]/div/div[2]/div[3]/span[2]/a
//*[@id="yesBestList"]/li[24]/div/div[2]/div[3]/span[2]/a

출판사 공통
//*[@id="yesBestList"]/li/div/div[2]/div[3]/span[2]/a

리뷰점수
//*[@id="yesBestList"]/li[1]/div/div[2]/div[5]/span[3]/em
//*[@id="yesBestList"]/li[2]/div/div[2]/div[5]/span[3]/em
//*[@id="yesBestList"]/li[23]/div/div[2]/div[5]/span[3]/em
//*[@id="yesBestList"]/li[21]/div/div[2]/div[5]/span[3]/em
//*[@id="yesBestList"]/li[100]/div/div[2]/div[5]/span[3]/em

리뷰점수 공통
//*[@id="yesBestList"]/li/div/div[2]/div[5]/span[3]/em