In [1]:
import pandas as pd

In [13]:
yes_df = pd.read_csv(r'C:\Users\utw09\Desktop\정노을\본캠 프로젝트\fourth\yes24.csv', encoding='cp949')

In [14]:
yes_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3400 entries, 0 to 3399
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   date       3400 non-null   int64
 1   raanking   3400 non-null   int64
 2   title      3400 non-null   object
 3   writer     3400 non-null   object
 4   press      3400 non-null   object
 5   kategorie  3400 non-null   object
dtypes: int64(2), object(4)
memory usage: 159.5+ KB

In [15]:
yes_df.rename(columns={'raanking': 'Ranking', 'data' : 'Data', 'title' : 'Title', 
                       'writer' : 'Writer', 'press' : 'Press', 'kategorie' : 'Category'}, inplace=True)

yes_df.iloc[]

,date,Ranking,Title,Writer,Press,Category
0,202402,1,마흔에 읽는 쇼펜하우어,강용수 저,유노북스,인문
1,202402,2,나는 메트로폴리탄 미술관의 경비원입니다,"패트릭 브링리 저/김희정,조현주 역",웅진지식하우스,에서이
2,202402,3,세이노의 가르침,세이노(SayNo) 저,데이원,자기계발
3,202402,4,아이는 무엇으로 자라는가,버지니아 사티어 저/강유리 역,포레스트북스,가정 살림
4,202402,5,이처럼 사소한 것들,클레어 키건 저/홍한별 역,다산책방,소설/시/희곡
...,...,...,...,...,...,...
3395,202203,196,열혈강호 85,전극진 글/양재현 그림,대원,만화/라이트노벨
3396,202203,197,박시백의 고려사 1,박시백 저,휴머니스트,역사
3397,202203,198,나는 나답게 살기로 했다,손힘찬 저,스튜디오오드리,인문
3398,202203,199,읽으면서 바로 써먹는 어린이 한국사 퀴즈 1,한날 글그림/전기현 감수,파란정원,어린이
3399,202203,200,2021·2022 큰별쌤 최태성의 별★별 한국사 7일의 기적 한국사능력검정시험 심화...,최태성 저,이투스북,수험서 자격증